* {
  box-sizing: border-box;}
body {font-family: 'Roboto', sans-serif;
background-color: black;}

html {scroll-behavior: smooth;}

html {
  scroll-behavior: smooth; 
}
.me{width: 500px;height: 500px;}
.nav-list {list-style: none;
  display: flex;
justify-content: flex-end;
align-items: center;
list-style: none;}
.nav-link {
  transition: 0.3s;
  padding: 10px 20px;
border: 1px solid rgb(0 232 243);
 }
.nav-link:hover {cursor: pointer;
  text-decoration: none; 
  color: blanchedalmond;  
  background: #e24486; 
  
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.body {display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
margin: 0;
padding: 0;
}
.img-viber{background-color: black;width: 30px;height: 30px;}
.section {color: rgb(0 232 243);}
.header {font-size: 50px;color: blueviolet; border: 1px solid rgb(0 232 243);display: flex;justify-content: flex-start;
}
.main {border: 1px solid rgb(0 232 243);}
.footer {border: 1px solid rgb(0 232 243);font-size: 100px;display: flex;justify-content: space-between;}
.paragraph{color: rgb(151, 7, 151);}
.img-bckgrnd{background-size: cover;
width: 100%;
height: 100%;}
.imgfooter{width: 100px;height: 100px;}